@model Bilisim.HelloMvc.Models.Ogrenci

<h2>Öğrenci Detay</h2>
<p><strong>ID:</strong> @Model.Ogrenciid</p>
<p><strong>Ad:</strong> @Model.Ad</p>
<p><strong>Soyad:</strong> @Model.Soyad</p>

<a href="/Ogrenci/Index">Geri Dön</a>