@model Bilisim.HelloMvc.Models.Ogrenci

<h2>Yeni Öğrenci Ekle</h2>

<form method="post">
    <div>
        <label>Ad:</label>
        <input type="text" name="Ad" required />
    </div>
    <div>
        <label>Soyad:</label>
        <input type="text" name="Soyad" required />
    </div>
    <button type="submit">Kaydet</button>
</form>

<a href="/Ogrenci/Index">Geri Dön</a>